<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.itxtech.daedalus">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service
                android:name=".DaedalusVpnService"
                android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>

        <receiver android:name=".BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".StatusBarBroadcastReceiver">
            <intent-filter>
                <action android:name="org.itxtech.daedalus.StatusBarBroadcastReceiver.STATUS_BAR_BTN_DEACTIVATE_CLICK_ACTION"/>
                <action android:name="org.itxtech.daedalus.StatusBarBroadcastReceiver.STATUS_BAR_BTN_SETTINGS_CLICK_ACTION"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/action_settings">
        </activity>
        <activity
                android:name=".AboutActivity"
                android:label="@string/action_about">
        </activity>
        <activity
                android:name=".ServerTestActivity"
                android:label="@string/action_server_test">
        </activity>
    </application>

</manifest>